/* body, main background color */
body {
  font: 18px arial, sans-serif;
  background: rgb(138, 108, 108);
}

/*  setting the width of the animals array*/
#animals {
  width: 70%;
}
/* have more than one column of gifs appear per row */
.animal-item {
  float: left;
  padding: 10px;
}

/* search form positioning */
form {
  float: right;
  width: 30%;
  padding: 20px;
}
